<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouRun"
        tools:targetApi="34"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".view.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.YouRun" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name=".view.activities.OnboardingActivity"/>

        <activity
            android:name=".view.activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.YouRun" >
<!--           <intent-filter>-->
<!--               <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--           </intent-filter>-->
        </activity>

       <activity
                android:name=".view.activities.QuestionActivity"
                android:exported="true" />

        <activity 
                android:name=".view.activities.ResultActivity"
                android:exported="true"/>

        <activity
            android:name=".view.activities.SignUp1Activity" />

        <activity
            android:name=".view.activities.SignUp2Activity" />

        <activity
            android:name=".view.activities.SignUp3Activity" />


        <activity
            android:name=".view.activities.AppExpActivity"
            android:exported="true" />

        <activity
            android:name=".view.activities.CreateChallengeActivity"
            android:exported="true" />

        <activity
            android:name=".view.activities.CreateSolo1Activity"
            android:exported="true" />
        <activity
            android:name=".view.activities.CreateSolo2Activity"
            android:exported="true" />
        <activity
            android:name=".view.activities.CreateCrew1Activity"
            android:exported="true" />
        <activity
            android:name=".view.activities.CreateCrew2Activity"
            android:exported="true" />

        <activity android:name=".view.activities.CalendarActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".view.activities.RunningActivity"
            android:exported="true" />

        <activity
            android:name=".view.activities.RunningResultActivity"
            android:exported="true" />

        <activity android:name=".view.activities.ResultSoloActivity"
            android:exported="true">
        </activity>

        <activity android:name=".view.activities.ResultCrewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>